H1{
  color: aliceblue;
}

body {
  display: grid;
  place-items: center;
  background-color: black;
}

main {
display: grid;
grid-template-rows: auto 1fr;
gap: 20px;
}

.gameBoard {
  display: grid;
  grid-template: repeat(3,1fr)/repeat(3,1fr);
  width: 500px;
  height: 500px;
  border: 10px solid white;
  border-radius: 10px;
  cursor: grab;
}

.cell {
  border: 5px solid white;
  padding: 20px;
  text-align: center;
}

/* Remove right border from cells 3, 6, 9 */
.cell:nth-child(-n+3) {
  border-top: none;
}
/* Remove bottom border from cells 7, 8, 9 */
.cell:nth-last-child(-n+3) {
  border-bottom: none;
}
/* Remove right border from cells 3, 6, 9 */
.cell:nth-child(3n) {
  border-right: none;
}
/* Remove left border from cells 1, 4, 7 */
.cell:nth-child(3n-2) {
  border-left: none;
}


  /*Buttion custiomization  */
  .button {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create two equal columns for "X" and "O" */
    gap: 10px; /* Add a gap between the buttons */
    height: 50px; 
  }

  button {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px;
    cursor: pointer;
    font-size: larger;
  }
  
  .button-tapped {
  background-color: black; 
  color: white;
  font-size: larger;
  border: 1px solid white;

}

#player1,#player2 {
color: white;
text-align: center;
font-weight: bold;
font-size: 20px;
}

.cell-content {
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}