body{
    background-color: rgb(178, 185, 185);
    text-align: center;
}



.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 500px;
    width: 500px;
    margin: 0 auto;
  }
  
  .cell {
   border-bottom: 10px solid black;
   border-right: 10px solid black;

  }

  .cell:nth-child(9n),
  .cell:nth-child(8n),
  .cell:nth-child(7n) {
    border-bottom: none;
  }
  


  .cell:nth-child(3n) {
    border-right: none;
  }

  